<h2>My Grades</h2>

<h4>Assignments</h4>
<table class="table">
    @foreach (var a in ViewBag.Assignments)
    {
        <tr>
            <td>@a.Assignment?.Title</td>
            <td>@a.Score</td>
        </tr>
    }
</table>

<h4>Exams</h4>
<table class="table">
    @foreach (var e in ViewBag.Exams)
    {
        <tr>
            <td>@e.Exam?.Title</td>
            <td>@e.Score</td>
        </tr>
    }
</table>